.timeline {
  @apply relative
    my-4
    !list-none
    border-s
    border-black
    dark:border-white;

  li {
    @apply mb-5
      ms-4;

    .dot {
      @apply absolute
        -start-1.5
        mt-1.5
        size-3
        rounded-full
        border
        border-black
        bg-teal-100
        shadow-neo-brutalism-sm-black
        dark:border-white
        dark:bg-teal-500
        dark:shadow-neo-brutalism-sm-white;
    }

    time {
      @apply mb-1
        text-sm
        font-normal
        leading-none
        text-gray-500
        dark:text-gray-400;
    }

    h3 {
      @apply text-lg
        font-semibold
        text-gray-900
        dark:text-white;
    }

    p {
      @apply mb-4
        text-base
        font-normal;
    }
  }
}
