.button {
  @apply rounded-md
    px-4
    py-2
    disabled:cursor-not-allowed;
}

.primary {
  @apply bg-cyan-500
    text-white
    hover:bg-cyan-600
    active:bg-cyan-700
    disabled:opacity-90
    dark:bg-cyan-400
    dark:hover:bg-cyan-500
    dark:active:bg-cyan-600;
}

.secondary {
  @apply bg-gray-200
    text-gray-700
    hover:bg-gray-300
    active:bg-gray-400
    disabled:opacity-90
    dark:bg-gray-700
    dark:text-gray-200
    dark:hover:bg-gray-600
    dark:active:bg-gray-500;
}

.special {
  @apply border
    border-cyan-500
    bg-white
    text-cyan-500
    hover:bg-cyan-50
    active:bg-cyan-100
    disabled:opacity-90
    dark:border-cyan-200
    dark:bg-cyan-700
    dark:text-cyan-200
    dark:hover:bg-cyan-600
    dark:active:bg-cyan-500;
}

.icon {
  @apply px-3
    py-2
    hover:bg-gray-300
    dark:hover:bg-gray-600;
}
