.button {
  @apply rounded-md
    px-4
    py-2
    disabled:cursor-not-allowed;
}

.primary {
  @apply bg-green-500
    text-white
    hover:bg-green-600
    active:bg-green-700
    disabled:opacity-90
    dark:bg-green-400
    dark:hover:bg-green-500
    dark:active:bg-green-600;
}

.secondary {
  @apply bg-gray-200
    text-gray-700
    hover:bg-gray-300
    active:bg-gray-400
    disabled:opacity-90
    dark:bg-gray-700
    dark:text-gray-200
    dark:hover:bg-gray-600
    dark:active:bg-gray-500;
}

.special {
  @apply border
    border-green-500
    bg-white
    text-green-500
    hover:bg-green-50
    active:bg-green-100
    disabled:opacity-90
    dark:border-green-200
    dark:bg-green-700
    dark:text-green-200
    dark:hover:bg-green-600
    dark:active:bg-green-500;
}

.icon {
  @apply px-3
    py-2
    hover:bg-gray-300
    dark:hover:bg-gray-600;
}
