version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    ignore:
      # Manually update major versions of @types/node with the version specified within .nvmrc
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
