.dropdown {
	position: relative;
	display: inline-block;
	text-align: center;
}

.dropdownHeader {
	cursor: pointer;
}

.dropdownList {
	position: absolute;
	top: 100%;
	left: 50%;
	width: fit-content;
	max-width: 200px;
	background-color: var(--app-fill);
	border: 1px solid var(--black2);
	border-radius: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1;
	opacity: 0;
	transform: translateX(-50%) translateY(-10px);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out;
	transform-origin: top center;
}

.open {
	opacity: 1;
	transform: translateX(-50%) translateY(10px);
}

.dropdownItem {
	padding: 8px;
	border-bottom: 1px solid var(--black2);
	text-align: center;
	cursor: pointer;
}

.dropdownItem.active {
	font-weight: bold;
}

.dropdownItem a:hover {
	color: var(--green3);
}

.dropdownItem:last-child {
	border-bottom: none;
}
