.topNav {
  @apply flex
    h-fit
    w-full
    flex-col
    items-center
    justify-between
    gap-4
    border-b-2
    border-b-black
    bg-white
    pb-2
    md:h-16
    md:flex-row
    md:gap-0
    md:pb-0
    dark:border-b-white
    dark:bg-neutral-950;

  .home {
    @apply inline-flex
      h-full
      w-full
      items-center
      justify-center
      bg-teal-100
      px-4
      font-semibold
      shadow
      shadow-teal-100
      md:w-fit
      md:border-r-2
      md:border-r-black
      dark:bg-teal-400
      dark:text-black
      dark:shadow-teal-500
      md:dark:border-r-white;

    &:hover {
      @apply underline;
    }
  }

  .rightLinks {
    @apply flex
      flex-row
      items-center
      gap-2
      px-4
      lg:gap-8
      lg:px-8;

    a {
      @apply px-2
        py-1
        font-semibold;

      &:hover {
        @apply underline;
      }

      &.active {
        @apply border-2
          border-black
          bg-violet-100
          text-black
          shadow-neo-brutalism-xl-black
          dark:border-white
          dark:bg-violet-400
          dark:shadow-neo-brutalism-xl-white;
      }
    }
  }
}
