.root {
  @apply relative
  flex
  size-10
  shrink-0
  overflow-hidden
  rounded-full
  outline
  outline-2
  outline-black
  dark:outline-white;
}

.image {
  @apply aspect-square
    size-full;
}

.fallback {
  @apply flex
  size-full
  items-center
  justify-center
  rounded-full
  bg-white
  text-base
  font-bold
  dark:bg-black
  dark:text-white;
}
