.card {
  @apply relative
    mx-20
    mb-20
    mt-12
    border-2
    border-black
    bg-white
    p-4
    pl-10
    shadow-neo-brutalism-xl-black
    lg:mx-auto
    lg:max-w-3/4
    dark:border-white
    dark:bg-gray-900
    dark:shadow-neo-brutalism-xl-white;

  .shapeTop {
    @apply absolute
      -right-10
      -top-10
      size-20
      rotate-12
      rounded
      text-violet-500;
  }

  .shapeBottom {
    @apply absolute
      -bottom-10
      -left-10
      size-20
      rotate-12
      rounded
      text-green-500;
  }

  h1 {
    @apply mb-4
      text-4xl
      font-bold;
  }

  p {
    @apply text-lg
    text-gray-500
    dark:text-gray-400;
  }
}
