@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --black0: #ffffff;
  --black1: #d5d6d7;
  --black2: #abaeaf;
  --black3: #abaeaf;
  --black4: #6b7173;
  --black5: #41484b;
  --black6: #2c3437;
  --black7: #282f32;
  --black8: #1f2427;
  --black9: #161a1c;
  --black10: #121516;
  --black11: #0d1010;
  --black12: #040505;
  --green0: #dfecdc;
  --green1: #cfe3ca;
  --green2: #bfd9b8;
  --green3: #afd0a7;
  --green4: #8fbd83;
  --green5: #6faa60;
  --green6: #5fa04e;
  --green7: #569046;
  --green8: #437037;
  --green9: #305027;
  --green10: #26401f;
  --green11: #1c3017;
  --green12: #132010;
  --yellow0: #fdf9d2;
  --yellow1: #fdf5bc;
  --yellow2: #fcf2a5;
  --yellow3: #fbef8f;
  --yellow4: #f9e962;
  --yellow5: #f8e235;
  --yellow6: #f7df1e;
  --yellow7: #dec91b;
  --yellow8: #ad9c15;
  --yellow9: #7c700f;
  --yellow10: #63590c;
  --yellow11: #4a4309;
  --yellow12: #312d06;
  --black-main: var(--black6);
  --green_main: var(--green6);
  --yellow_main: var(--yellow6);
  --white: var(--black0);

  &[data-theme='dark'] {
    --app-fill: var(--black8);
    --text-color: var(--black0);
    --text-color-invert: var(--black12);
    --link-color: var(--green6);
    --link-color-hover: var(--green3);
    --inlinecode-bg: var(--black11);
    --inlinecode-text: var(--black1);
  }
  &[data-theme='light'] {
    --app-fill: var(--black0);
    --text-color: var(--black-main);
    --text-color-invert: var(--black0);
    --link-color: var(--green8);
    --link-color-hover: var(--green10);
    --inlinecode-bg: var(--green0);
    --inlinecode-text: var(--green6);
  }
}

body {
  @apply m-0
    flex
    min-h-screen
    flex-col
    bg-neutral-50
    text-neutral-950
    dark:bg-neutral-900
    dark:bg-opacity-90
    dark:text-neutral-50;

  main {
    @apply flex-1;
  }
}

h1 {
  @apply mb-4
    inline-flex
    flex-row
    gap-1
    text-4xl
    font-bold;
}

h2 {
  @apply mb-4
    inline-flex
    flex-row
    gap-1
    text-3xl
    font-bold;
}

h3 {
  @apply mb-2
    inline-flex
    flex-row
    gap-1
    text-2xl
    font-bold;
}

h4 {
  @apply mb-2
    inline-flex
    flex-row
    gap-1
    text-xl
    font-semibold;
}

h5 {
  @apply inline-flex
    flex-row
    gap-1
    text-lg
    font-semibold;
}

h6 {
  @apply inline-flex
    flex-row
    gap-1
    text-base;
}

p {
  @apply mb-4
    text-base;
}

a {
  @apply text-green-500
    underline
    hover:text-green-600
    hover:no-underline
    active:text-green-700
    dark:text-green-400
    dark:hover:text-green-500
    dark:active:text-green-600;
}

ul {
  @apply list-disc
    px-5
    leading-6
    text-neutral-900
    dark:text-white;
}

ol {
  @apply list-decimal
    px-5
    leading-6
    text-neutral-900
    dark:text-white;
}

hr {
  @apply my-8
    border-2
    border-neutral-300
    dark:border-neutral-600;
}
