.container {
  @apply relative
    z-0;
}

.pictures {
  @apply z-10
    rounded-full
    border-4
    border-cyan-200
    border-opacity-50
    shadow-lg
    shadow-cyan-200
    transition
    duration-1000
    dark:border-cyan-800
    dark:shadow-cyan-800;

  &:hover {
    @apply border-cyan-400
      shadow-cyan-400
      dark:border-cyan-600
      dark:shadow-cyan-600;
  }
}

.background {
  @apply absolute
    inset-0
    -z-10
    w-96;
}
