.pictures {
  @apply rounded-full
    border-4
    border-green-200
    border-opacity-50
    shadow-lg
    shadow-green-200
    transition
    duration-1000
    dark:border-green-800
    dark:shadow-green-800;

  &:hover {
    @apply border-green-400
      shadow-green-400
      dark:border-green-600
      dark:shadow-green-600;
  }
}
