.hero {
  @apply flex
  h-3/4
  w-full
  flex-col
  items-center
  justify-center
  gap-8
  py-20
  lg:flex-row;

  .content {
    @apply -z-10

      animate-slide-in-top;

    /*
        this is haky because if i'm using `lg` it will be applied
      */
    @media (min-width: 1024px) {
      @apply animate-slide-in-left;
    }

    p {
      @apply w-80
      text-lg
      text-gray-500;
    }
  }
}
