.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 20%;

	.content {
		animation: slideInFromLeft 1.5s ease-out;
		z-index: -1;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		padding: 3rem 0;
		text-align: center;

		.content {
			animation: slideInFromTop 1.5s ease-out;
		}
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-25%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-25%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
