.header {
  @apply sticky
    top-0
    z-10
    flex
    flex-col
    items-center
    justify-center
    bg-white/90
    bg-opacity-80
    px-4
    py-2
    shadow-sm
    backdrop-blur-sm
    dark:border-b-2
    dark:border-b-gray-50
    dark:bg-gray-800
    dark:bg-gray-900/90
    dark:bg-opacity-95
    dark:shadow-none
    lg:flex-row
    lg:justify-between;

  a {
    @apply text-gray-950
      no-underline
      hover:underline
      dark:text-gray-50;

    &.active {
      @apply border-b-4
        border-b-gray-950
        dark:border-b-gray-50;
    }
  }

  .links {
    @apply flex
      flex-row
      items-center
      gap-4;

    svg {
      @apply h-6
        w-6;
    }
  }
}
