.container {
	margin: 1rem 10%;

	.cardContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		gap: 1rem;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
