.footer {
  @apply flex
    h-16
    w-full
    flex-row
    items-center
    justify-end
    border-t-2
    border-t-black
    bg-white
    dark:border-t-white
    dark:bg-neutral-950;

  .hightlight {
    @apply inline-flex
      h-full
      items-center
      justify-center
      bg-neutral-950
      px-4
      font-semibold
      text-white
      dark:bg-white
      dark:text-black;
  }
}
