.avatar {
  @apply flex
    h-10
    w-10
    items-center
    justify-center
    gap-4
    rounded-full
    border-2
    border-white
    bg-gray-100
    object-cover
    text-xs
    text-gray-800
    dark:border-gray-950
    dark:bg-gray-800
    dark:text-gray-300;
}

.avatarRoot {
  @apply h-10
    w-10
    flex-shrink-0;
}
