.image {
  @apply h-auto
    w-80
    rounded-xl
    border-2
    border-black
    object-cover
    shadow-neo-brutalism-black
    transition-shadow
    dark:border-white
    dark:shadow-neo-brutalism-white;

  &:hover {
    @apply shadow-neo-brutalism-xl-black
      dark:shadow-neo-brutalism-xl-white;
  }

  &.selected {
    @apply block;
  }

  &:not(.selected) {
    @apply hidden;
  }
}
