
@media (prefers-color-scheme: dark) {
    header{
        background-color: coral;
    }
    path{
        fill:coral;
        background-color: black;
    }
    body{
        background-color: black;
    }
    a{
        color: cornflowerblue;
        transition: 300ms;
    }
    a:hover{
        color:darkcyan
    }
    article{
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    header{
        background-color: coral;
    }
    path{
        fill:coral;
    }
    a{
        color: cornflowerblue;
        transition: 300ms;
    }
    a:hover{
        color:darkcyan
    }
}