.content {
  @apply m-2.5
    border-2
    border-black
    bg-white
    shadow-neo-brutalism-black
    dark:border-white
    dark:bg-neutral-950
    dark:shadow-neo-brutalism-white;
}

.item {
  @apply cursor-pointer
    px-4
    py-2
    hover:bg-green-300
    focus:outline-none
    dark:hover:bg-green-700;

  &.active {
    @apply bg-green-300
      font-bold
      dark:bg-green-700;
  }
}
