.card {
  @apply m-4
    flex
    items-center
    justify-center
    gap-8
    rounded-lg
    border-2
    border-neutral-200
    py-4
    dark:border-neutral-700
    md:justify-between
    md:py-0;

  img {
    @apply hidden
      w-1/3
      rounded-l-lg
      border-r-2
      border-neutral-200
      dark:border-neutral-700
      md:block;
  }

  .content {
    @apply w-2/3;
  }
}
