.card {
  @apply flex
    items-center
    justify-center
    gap-8
    rounded-lg
    border-2
    border-gray-200
    py-4
    dark:border-gray-700
    md:justify-between
    md:py-0;

  img {
    @apply hidden
      w-96
      rounded-l-lg
      border-r-2
      border-gray-200
      dark:border-gray-700
      md:block;
  }

  .content {
    @apply w-2/3;
  }
}
