.card {
	border: 1px solid var(--text-color);
	border-radius: 10px;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	img {
		border-radius: 10px 0 0 10px;
		border-right: 1px solid var(--text-color);
		width: 50%;
		height: auto;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;
		width: 100%;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		height: auto;

		img {
			display: none;
		}

		.content {
			text-align: center;
			padding-bottom: 1rem;
		}
	}
}
