.page {
  @apply container
    mx-auto
    px-4
    pt-4
    sm:px-6
    lg:px-8;

  header {
    @apply flex
      flex-row
      items-center
      justify-between;

    svg {
      @apply h-8
        w-8;
    }
  }

  .cardContainer {
    @apply flex
      w-full
      flex-col
      flex-wrap
      items-center
      justify-center
      gap-4
      md:flex-row
      md:items-stretch
      md:justify-start;
  }
}
