.container {
  margin: 1rem 10%;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
