.figure {
  @apply mb-4
    flex
    w-full
    flex-col
    items-start
    justify-start
    rounded-lg
    border-2
    border-black
    bg-white
    lg:flex-row
    lg:items-center
    dark:border-white
    dark:bg-gray-800;

  .image {
    @apply h-auto
      w-full
      border-b-2
      border-b-black
      lg:h-auto
      lg:w-96
      lg:border-b-0
      lg:border-r-2
      lg:border-r-black;
  }

  figcaption {
    @apply flex
      flex-col
      justify-between
      gap-2
      p-4
      lg:max-w-1/2;

    h3 {
      @apply text-xl
        font-semibold;
    }

    p {
      @apply text-gray-600
        dark:text-gray-400;
    }

    .button {
      @apply w-fit;
    }
  }
}
