---
layout: layouts/base.njk
bodyClass: body-tag
---
<div data-pagefind-body>
  <h1>Étiqueté “{{ tag }}”</h1>

  {% set postslist = search.pages("'" + tag + "'") %}
  {% include "templates/postslist.njk" %}

  <hr>

  <p>Voir toutes les <a href="/tags/">étiquettes</a>.</p>
</div>