.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.text {
		line-height: 1.2em;
	}

	img {
		border-radius: 10px;
	}

	@media (max-width: 768px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}
