.header {
  @apply flex
    flex-row
    justify-between
    gap-10;

  .thumbnail {
    @apply hidden
    h-fit
    w-80
    rounded-md
    border-2
    border-gray-200
    dark:border-gray-700
    md:block;
  }
}
